<?xml version="1.0"?>
<launch>

    <node pkg="mitsubishi_controller" name="joint_streamer" type="mitsubishi_joint_state" output="screen"
          ns="mitsubishi_controller">
        <param name="ip" value="192.168.0.20"/>
        <param name="port" value="10004"/>
    </node>

    <node pkg="topic_tools" type="relay" name="relay_joint_state" ns="mitsubishi_controller"
          args="joint_states /joint_states"/>

    <node pkg="mitsubishi_controller" type="mitsubishi_action_server" name="mitsubishi_controller" output="screen">
        <remap from="~joint_states" to="/mitsubishi_controller/joint_states"/>
        <param name="ip" value="192.168.0.20"/>
        <param name="port" value="10002"/>
    </node>

</launch>
