<?xml version="1.0"?>
<launch>

    <node pkg="mitsubishi_controller" name="joint_streamer" type="mitsubishi_joint_state" output="screen"
          ns="mitsubishi_controller">
        <param name="ip" value="192.168.0.20"/>
        <param name="port" value="10004"/>
        <rosparam param="joint_names">
            ["j1", "j2", "j3", "j4", "j5", "j6"]
        </rosparam>
        <remap from="~joint_states" to="/mitsubishi_controller/joint_states"/>
    </node>

    <node pkg="topic_tools" type="relay" name="relay_joint_state" ns="mitsubishi_controller"
          args="joint_states /joint_states"/>

    <node pkg="mitsubishi_controller" type="mitsubishi_action_server" name="mitsubishi_controller" output="screen">
        <param name="ip" value="192.168.0.20"/>
        <param name="port" value="10002"/>
        <rosparam param="joint_names">
            ["j1", "j2", "j3", "j4", "j5", "j6"]
        </rosparam>
        <rosparam param="limits_min">
            [-2.96706, -1.6057, -2.25147, -2.79253, -2.0944, -6.28319]
        </rosparam>
        <rosparam param="limits_max">
            [2.96706, 2.35619, 2.89725, 2.79253, 2.0944, 6.28319]
        </rosparam>
    </node>

</launch>
